.button {
  text-align: center;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &.has-border-radius {
    border-radius: 10px;
  }

  &.has-border-radius-bottom {
    border-radius: 0 0 10px 10px;
  }

  &.has-border-radius-left {
    border-radius: 10px 0 0px 10px;
  }

  &.has-border-radius-right {
    border-radius: 0 10px 10px 0;
  }

  &.has-shadow {
    box-shadow: 0 2px 4px $black-blur;
  }

  &.is-red {
    background-color: $heavy-red;
    color: $absolute-white;
  }

  &.is-grey {
    background-color: $light-grey;
    color: $absolute-white;
  }

  &.is-grey-2 {
    background-color: $grey-blur;
    color: $light-grey-2
  }

  &.is-xs {
    min-width: 120px;
    font-size: 15px;
    padding: 10px;
  }

  &.is-sm {
    font-size: 16px;
    padding: 15px 50px;

    @include responsive-tablet() {
      font-size: 15px;
      padding: 5px 50px;
    }
  }

  &.is-lg {
    font-size: 20px;
    padding: 25px 50px;

    @include responsive-tablet() {
      font-size: 16px;
      padding: 15px 50px;
    }
  }

  &.is-fullwidth {
    width: 100%;
  }
}