%in-div-lg {
  margin-top: 50px;
  margin-bottom: 50px;

  @include responsive-tablet() {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

%in-div-sm {
  margin-top: 25px;
  margin-bottom: 25px;

  @include responsive-tablet() {
    margin-top: 4px;
    margin-bottom: 40px;
  }
}

.div-lg {
  margin-top: 50px;
  margin-bottom: 50px;
}

.div-sm {
  margin-top: 25px;
  margin-bottom: 25px;
}

.div-responsive-gutter {
  @include responsive-tablet() {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}