.image {
  width: 100%;

  &:hover {
    opacity: 0.8
  }

  &.has-border-radius {
    border-radius: 10px;
  }

  &.has-border-radius-top {
    border-radius: 10px 10px 0 0;
  }

  &.has-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  }
}