.link {
  cursor: pointer;
  
  &.link-black {
    color: $header-font-color;

    &:hover {
      color: $light-red;
    }
  }

  &.link-red {
    color: $light-red;
    text-decoration: underline;

    &:hover,
    &:active, {
      color: $brown-red;
      cursor: pointer;
      text-decoration: none;
    }
  }
}