// Border radius
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Screen for responsive
@mixin responsive-desktop() {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin responsive-tablet() {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin responsive-mobile() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

