h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h2 {
  font: {
    size: 24px;
    weight: bold;
  }
  line-height: 50px;
}

p {
  line-height: 25px;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-margin {
  margin-top: 0;
  margin-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

