$main-font: Hiragino Kaku Gothic Pro;
$title-font: Kozuka Gothic Pr6N;

$white: #fff;

$grey: #ccc;
$grey-light: #707070;
$grey-lightess: #fafafa;
$color-title-grey: #a4a09b;

$orange: #e89032;

$purple: #875b87;

$black: #302d29;
$black-light: #282828;
$black-lightess: 403a32;

$color-btn: #fafafa;
$color-btn-red: #d0121b;
$color-red-light: #ca121a;

$color-txt-red: #d01821;

$font-size-base: 16px;

