.card {
  background-color: $dark-purple;
  margin: 10px 0;

  .image-area {
    width: 60%;
  }

  .inform-area {
    width: 40%;
    vertical-align: top;

    .title {
      font-size: 20px;
      font-weight: bold;
      color: $absolute-white;
      margin: 0 25px;
    }

    .body {
      background: $cream-milk;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      bottom: 10px;

      .promo {
        margin: 25px 25px 0;
      }

      .content {
        margin: 25px;
        font-size: 22px;
      }
    
      .slider-area {
        bottom: 5px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        .slide-description {
          font-size: 12px;
          padding: 0 5px;
        }
      }
    }
  }
}