.card {
  margin: 10px 0;

  .image-area {
    width: 60%;

    @include responsive-tablet() {
      display: block;
      width: 100%;
    }
  }

  .inform-area {
    background-color: $dark-purple;
    width: 40%;
    vertical-align: top;

    @include responsive-tablet() {
      display: block;
      width: 100%;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
      color: $absolute-white;
      margin: 0 25px;
    }

    .body {
      background: $cream-milk;

      .promo {
        margin: 25px 25px 0;
      }

      .content {
        margin: 25px;
        font-size: 22px;
        height: 90px;
        overflow: hidden;
      }
    
      .slider-area {
        .slide-description {
          font-size: 12px;
          padding: 0 5px;
        }
      }
    }
  }
}