footer {
  background-color: black;
  font-size: 15px;
  line-height: 15px;
  color: white;
  padding: 50px 0;
  .footer-table {
    border-bottom: 1px solid white;
    margin: 15px 0;
    padding: 10px 0;
    .row {
      margin: 8px 0;
      * {
        padding: 0;
      }
    }
  }
}
