.main-footer {
  background-color: $deep-grey;
  color: $absolute-white;
  font-size: 14px;
  line-height: 24px;
  padding: 50px 0;

  .footer-info-title {
    font-size: 15px;
    margin-top: 10px;

    @include responsive-tablet() {
      margin-top: 20px;
    }
  }

  .footer-info {
    border-bottom: 1px solid $footer-border-grey;
    padding: 15px 0;

    @include responsive-tablet() {
      border-bottom: none;
    }
    
    .info-row {
      padding: 10px 0;
    }
  }
}
