.main-footer {
  background-color: $deep-grey;
  font-size: 14px;
  line-height: 14px;
  color: $absolute-white;
  padding: 50px 0;

  .footer-table-title {
    margin-top: 10px;
    font-size: 15px;
  }

  .no-margin {
    margin: 0;
  }

  .footer-table {
    border-bottom: 1px solid $footer-border-grey;
    margin-bottom: 25px;
    padding: 25px 0;

    .table-row {
      margin: 14px 0;
      * {
        padding: 0;
      }
    }
  }
}
