.main-header {
  .navbar {
    margin: 0;
    border-bottom: 1px solid $header-border;
  }

  .navbar-default {
    background-color: $absolute-white;
  }
  
  .nav-list-link {
    float: right;

    @include responsive-mobile() {
      float: none;
    }
  }

  .navbar-brand {
    padding: 20px 0 0;

    @include responsive-mobile() {
      padding: 0;
    }
  }

  // .navbar-default .navbar-nav {
  //   li {
  //     a {
  //       color: $header-font-color;
  //     }
  //   }
  // }
}