.main-header {
  color: $light-grey;
  
  .navbar{
    margin: 0;
    border-bottom: 1px solid $black-blur;
  }

  .navbar-default {
    background-color: $absolute-white;
  }

  .row-top-navbar {
    margin: 0;
  }

  .navbar-brand {
    padding: 20px 0 0 0;
    @include responsive-mobile () {
      padding: 0;
    }
  }

}