.home-service {
  background: url(/images/home/bg_bannerarea.jpg) repeat;
  padding: 50px 0;

  .carousel-header {
    text-align: center;
  }

  .slick-prev {
    left: -50px;
  }

  .slick-next {
    right: -50px;
  }
}