.home-map {
  background: url(/images/home/bg_map.png);

  @include responsive-tablet() {
    display: none;
  }

  .map-area {
    background: url(/images/home/img_map.jpg) no-repeat 30px 0;
    position: relative;
    height: 900px;
    font-size: 20px;
    
    .map-title {
      position: absolute;
      color: $light-grey;
      font-size: 36px;
      top: 50px
    }

    .left-line-1 {
      position: absolute;
      top: 120px;
    }

    .left-line-2 {
      position: absolute;
      top: 150px;
    }

    .left-line-3 {
      position: absolute;
      top: 185px;
    }

    .left-line-4 {
      position: absolute;
      top: 220px;
    }

    .left-line-5 {
      position: absolute;
      top: 285px;
    }

    .left-line-6 {
      position: absolute;
      top: 315px;
    }

    .left-line-7 {
      position: absolute;
      top: 350px;
    }

    .left-line-8 {
      position: absolute;
      top: 413px;
    }

    .left-line-9 {
      position: absolute;
      top: 443px;
    }

    .left-line-10 {
      position: absolute;
      top: 473px;
    }

    .left-line-11 {
      position: absolute;
      top: 543px;
    }

    .left-line-12 {
      position: absolute;
      top: 579px;
    }

    .left-line-13 {
      position: absolute;
      top: 823px;
    }

    .left-line-14 {
      position: absolute;
      top: 853px;
    }

    .right-line-1 {
      position: absolute;
      right: 0;
      top: 30px;
    }

    .right-line-2 {
      position: absolute;
      right: 0;
      top: 60px;
    }

    .right-line-3 {
      position: absolute;
      right: 0;
      top: 93px;
    }

    .right-line-4 {
      position: absolute;
      right: 0;
      top: 124px;
    }

    .right-line-5 {
      position: absolute;
      right: 0;
      top: 158px;
    }

    .right-line-6 {
      position: absolute;
      right: 0;
      top: 188px;
    }

    .right-line-7 {
      position: absolute;
      right: 0;
      top: 253px;
    }

    .right-line-8 {
      position: absolute;
      right: 0;
      top: 283px;
    }

    .right-line-9 {
      position: absolute;
      right: 0;
      top: 350px;
    }

    .right-line-10 {
      position: absolute;
      right: 0;
      top: 381px;
    }

    .right-line-11 {
      position: absolute;
      right: 0;
      top: 412px;
    }

    .right-line-12 {
      position: absolute;
      right: 0;
      top: 477px;
    }

    .right-line-13 {
      position: absolute;
      right: 0;
      top: 507px;
    }

    .right-line-14 {
      position: absolute;
      right: 0;
      top: 540px;
    }

    .right-line-15 {
      position: absolute;
      right: 0;
      top: 602px;
    }

    .right-line-16 {
      position: absolute;
      right: 0;
      top: 635px;
    }

    .right-line-17 {
      position: absolute;
      right: 0;
      top: 668px;
    }

    .right-line-18 {
      position: absolute;
      right: 0;
      top: 698px;
    }

    .right-line-19 {
      position: absolute;
      right: 0;
      top: 761px;
    }

    .right-line-20 {
      position: absolute;
      right: 0;
      top: 792px;
    }

    .left-line-1-hover {
      display: none;
      position: absolute;
      top: 137px;
      left: 70px;
    }

    .left-line-2-hover {
      display: none;
      position: absolute;
      top: 166px;
      left: 119px;
    }

    .left-line-3-hover {
      display: none;
      position: absolute;
      top: 200px;
      left: 168px;
    }

    .left-line-4-hover {
      display: none;
      position: absolute;
      top: 233px;
      left: 47px;
    }

    .left-line-5-hover {
      display: none;
      position: absolute;
      top: 302px;
      left: 189px;
    }

    .left-line-6-hover {
      display: none;
      position: absolute;
      top: 333px;
      left: 150px;
    }

    .left-line-7-hover {
      display: none;
      position: absolute;
      top: 366px;
      left: 148px;
    }

    .left-line-8-hover {
      display: none;
      position: absolute;
      top: 428px;
      left: 168px;
    }

    .left-line-9-hover {
      display: none;
      position: absolute;
      top: 460px;
      left: 147px;
    }

    .left-line-10-hover {
      display: none;
      position: absolute;
      top: 492px;
      left: 223px;
    }

    .left-line-11-hover {
      display: none;
      position: absolute;
      top: 558px;
      left: 166px;
    }

    .left-line-12-hover {
      display: none;
      position: absolute;
      top: 591px;
      left: 197px;
    }

    .left-line-13-hover {
      display: none;
      position: absolute;
      top: 728px;
      left: 52px;
    }

    .left-line-14-hover {
      display: none;
      position: absolute;
      top: 687px;
      left: 147px;
    }

    .right-line-1-hover {
      display: none;
      position: absolute;
      top: 41px;
      left: 689px;
    }

    .right-line-2-hover {
      display: none;
      position: absolute;
      top: 73px;
      left: 701px;
    }

    .right-line-3-hover {
      display: none;
      position: absolute;
      top: 108px;
      left: 708px;
    }

    .right-line-4-hover {
      display: none;
      position: absolute;
      top: 141px;
      left: 731px;
    }

    .right-line-5-hover {
      display: none;
      position: absolute;
      top: 174px;
      left: 660px;
    }

    .right-line-6-hover {
      display: none;
      position: absolute;
      top: 205px;
      left: 676px;
    }

    .right-line-7-hover {
      display: none;
      position: absolute;
      top: 268px;
      left: 649px;
    }

    .right-line-8-hover {
      display: none;
      position: absolute;
      top: 301px;
      left: 661px;
    }

    .right-line-9-hover {
      display: none;
      position: absolute;
      top: 365px;
      left: 647px;
    }
    
    .right-line-10-hover {
      display: none;
      position: absolute;
      top: 396px;
      left: 658px;
    }

    .right-line-11-hover {
      display: none;
      position: absolute;
      top: 430px;
      left: 645px;
    }

    .right-line-12-hover {
      display: none;
      position: absolute;
      top: 491px;
      left: 653px;
    }

    .right-line-14-hover {
      display: none;
      position: absolute;
      top: 521px;
      left: 652px;
    }

    .right-line-15-hover {
      display: none;
      position: absolute;
      top: 531px;
      left: 594px;
    }

    .right-line-16-hover {
      display: none;
      position: absolute;
      top: 542px;
      left: 594px;
    }

    .right-line-17-hover {
      display: none;
      position: absolute;
      top: 559px;
      left: 587px;
    }

    .right-line-18-hover {
      display: none;
      position: absolute;
      top: 561px;
      left: 572px;
    }

    .right-line-19-hover {
      display: none;
      position: absolute;
      top: 554px;
      left: 544px;
    }

    .right-line-20-hover {
      display: none;
      position: absolute;
      top: 590px;
      left: 461px;
    }
  }

  .place-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;

    &.red {
      background-color: $heavy-red;
    }

    &.orange {
      background-color: $dark-orange;
    }

    &.green {
      background-color: $dark-green;
    }

    &.blue {
      background-color: $dark-blue;
    }

    &.purple {
      background-color: $dark-purple;
    }

    &.pink {
      background-color: $pastel-pink;
    }
  }
}