.home-location {
  @extend %in-div-lg;

  .tool-select-place {
    position: relative;
    min-height: 1px;
    margin: 50px 0 25px;
  }

  .button-area {
    margin: 50px 0 25px;

    @include responsive-tablet() {
      display: none;
    }

    .tool-buttons {
      display: inline-block;

      .btn-place {
       float: left;
       margin: 1px;
      }
    }
  }

  .button-search {
    margin-top: 25px;

    @include responsive-tablet() {
      display: none;
    }
  }
}