.index-news {
  font-size: 16px;
  line-height: 30px;

  .news-header {
    font-size: 36px;
  }

  .news-title {
    font-size: 20px;
  }

  .row {
    margin-top: 50px;

    @include responsive-tablet() {
      margin-top: 40px;
      display: flex;
      flex-flow: column;

      .news-date {
        display: inline;
        font-size: 15px;
      } 

      .news-status {
        font-size: 15px;
        padding: 4px 8px;
      }

      .order {
        &-1 {
          order: 1;
        }

        &-2 {
          order: 2;
          margin: 15px 0;
        }

        &-3 {
          order: 3;
          margin-bottom: 40px;
        }
      }      
    }
  }

  .news-status{
    font-size: 12px;
    padding: 8px 12px;
    color: $light-red;
    border: 1px solid $light-red;
    text-align: center;
    margin: 12px 0;
    display: inline;
  }

  .news-button{
    margin: 50px 0;

    .button-subcribe {
      border-radius: 10px;
      color: $absolute-white;
      font-size: 20px;
      padding: 25px 50px;
      display: block;
      margin: auto;
    }
    @include responsive-tablet() {
      margin: 40px 0;

      .button-subcribe {
        font-size: 16tpx;
        padding: 15px 50px;
      }
    }
  }
}
