.index-news {

  .news-header {
    font-size: 36px;
  }

  .date-status-area {
    .new-date {
      font-size: 16px;
      padding-bottom: 10px;
  
      @include responsive-tablet() {
        display: inline;
      }
    }

    .new-status{
      font-size: 12px;
      padding: 8px 12px;
      color: $light-red;
      border: 1px solid $light-red;
      text-align: center;
      margin: 12px 0;
      display: inline;
    }

    @include responsive-tablet() {
      margin: 25px 0;
    }
  }

  .new-title {
    font-size: 20px;
  }

  .new-content {
    font-size: 16px;
    line-height: 30px;
  }

  .news {
    margin: 50px 0;

    .new {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    .new-image {
      float: right ;
    }

    .new-image-tablet {
      display: none;
    }

    @include responsive-tablet() {
      margin: 40px 0;

      .new {
        margin-bottom: 40px;
  
        &:last-child {
          margin-bottom: 0px;
        }
      }
  
      .new-image {
        display: none;
      }

      .new-image-tablet {
        display: block;
        width: 100%;
      }
    }
  }

  .news-button{
    margin: 50px 0;

    .button-subcribe {
      border-radius: 10px;
      color: $absolute-white;
      font-size: 20px;
      padding: 25px 50px;
      display: block;
      margin: auto;
    }
    @include responsive-tablet() {
      margin: 40px 0;

      .button-subcribe {
        font-size: 16tpx;
        padding: 15px 50px;
      }
    }
  }
}
