.index-news {
  font-size: 25px;
  line-height: 25px;

  img {
    width: 100%;
  }

  .news-header {
    font-size: 30px;
  }

  .row {
    margin-top: 50px;

    @include responsive-tablet() {
      margin-top: 40px;
      display: flex;
      flex-flow: column;

      .news-date {
        display: inline;
        font-size: 15px;
      } 

      .news-status {
        font-size: 15px;
      }

      .order {
        &-1 {
          order: 1;
        }

        &-2 {
          order: 2;
          margin: 15px 0;
        }

        &-3 {
          order: 3;
          margin-bottom: 40px;
        }
      }      
    }
  }

  .news-status{
    font-size: 15px;
    padding: 2px 0px;
    color: red;
    border: 1px solid red;
    text-align: center;
    margin: 10px 0;
    display: inline;
  }

  .news-button{
    margin: 50px 0;
    .button-subcribe {
      background-color: red;
      color: white;
      padding: 15px 50px;
      display: block;
      margin: auto
    }
    @include responsive-tablet() {
      margin: 40px 0;
      button-subcribe {
        font-size: 15px;
      }
    }
  }
}
