.index-list {
  @extend %in-div-lg;

  .list-header {
    color: $light-grey;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .list-body {
    @extend %in-div-sm;
    font-size: 20px;

    .list-item {
      color: $light-grey;
      border-bottom: 1px solid $deep-grey; 
      padding: 25px 0;
  
      &:first-child {
        padding-top: 0;
      }
    }
  }

  .list-button {
    .button-subcribe-list {
      @include responsive-tablet() {
        position: static;
        margin: auto;
      } 
    }  
  }
}