.index-list {
  font-size: 25px;
  color: #693636;

  .list-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .list-row {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid $deep-grey; 
  }


}