.index-banner-bottom {
  padding-bottom: 100px;

  @include responsive-tablet() {
    padding-bottom: 80px;

    .col-md-4 {
      &:not(:first-child) {
        margin-top: 25px;
      }
    }
  }

}


