.index-location {
  .location-list-header {
    font-size: 35px;
    margin-bottom: 50px;
  }

  .location-places {
    display: table;
    width: 100%;
    padding: 5px 0;

    .place {
      display: table-cell;
      height: 100%;
      width: 20%;
    }
  }

  .button-more {
    background-color: $light-grey;
    border-radius: 0 0 10px 10px;
    color: $absolute-white;
    font-size: 16px; 
    margin-bottom: 50px;
    height: 50px;
    width: 100%;
  }

  @include responsive-tablet() {
    display: none;
  }
}