.section-news {
  @extend %in-div-lg;

  .news-header {
    font-size: 36px;
  }

  .date-status-area {
    @include responsive-tablet() {
      margin: 25px 0;
    }

    .new-date {
      font-size: 16px;
      padding-bottom: 10px;
  
      @include responsive-tablet() {
        display: inline-block;
      }
    }

    .new-status {
      font-size: 12px;
      padding: 8px 12px;
      color: $light-red;
      border: 1px solid $light-red;
      text-align: center;
      display: inline-block;
    }
  }

  .new-title {
    font-size: 20px;
  }

  .new-content {
    font-size: 16px;
    line-height: 30px;
  }

  .news {
    @extend %in-div-lg;

    .new {
      @extend %in-div-lg;
    }

    .new-image {
      float: right ;
      margin-left: 25px;

      @include responsive-tablet() {
        display: none;
      }
    }

    .new-image-tablet {
      display: none;

      @include responsive-tablet() {
        display: block;
      }
    }
  }
}
