/* 5 Columns */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
.no-gutters {
  margin-left: 0px;
  margin-right: 0px;
}

.button {
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}
.button-border-radius {
  border-radius: 10px;
}
.button-border-radius-bottom {
  border-radius: 0 0 10px 10px;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  box-shadow: 0 0;
}
.button-red {
  background-color: #d0121b;
  color: #ffffff;
}

.image {
  width: 100%;
}
.image-border-radius {
  border-radius: 10px;
}
.image-border-radius-top {
  border-radius: 10px 10px 0 0;
}
.image-with-shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.image:hover {
  opacity: 0.8;
}

.link {
  cursor: pointer;
}
.link-black {
  color: #575653;
}
.link-black:hover {
  color: #d01821;
}

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.main-footer {
  background-color: #282828;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  padding: 50px 0;
}
.main-footer .footer-info-title {
  font-size: 15px;
  margin-top: 10px;
}
@media screen and (max-width: 991px) {
  .main-footer .footer-info-title {
    margin-top: 20px;
  }
}
.main-footer .footer-info {
  border-bottom: 1px solid #898989;
  padding: 15px 0;
}
.main-footer .footer-info .info-row {
  padding: 10px 0;
}
@media screen and (max-width: 991px) {
  .main-footer .footer-info {
    border-bottom: none;
  }
}

.main-header .navbar {
  margin: 0;
  border-bottom: 1px solid #959595;
}
.main-header .navbar-default {
  background-color: #ffffff;
}
.main-header .nav-list-link {
  float: right;
}
.main-header .navbar-brand {
  padding: 20px 0 0 0;
}
@media screen and (max-width: 767px) {
  .main-header .navbar-brand {
    padding: 0;
  }
}
.main-header .navbar-default .navbar-nav li a {
  color: #575653;
}

.index-business {
  padding: 50px 0;
}
@media screen and (max-width: 991px) {
  .index-business {
    padding: 40px 0;
  }
  .index-business .col-md-4:not(:first-child) {
    margin-top: 25px;
  }
}

.index-news .news-header {
  font-size: 36px;
}
.index-news .date-status-area .new-date {
  font-size: 16px;
  padding-bottom: 10px;
}
@media screen and (max-width: 991px) {
  .index-news .date-status-area .new-date {
    display: inline;
  }
}
.index-news .date-status-area .new-status {
  font-size: 12px;
  padding: 8px 12px;
  color: #d01821;
  border: 1px solid #d01821;
  text-align: center;
  margin: 12px 0;
  display: inline;
}
@media screen and (max-width: 991px) {
  .index-news .date-status-area {
    margin: 25px 0;
  }
}
.index-news .new-title {
  font-size: 20px;
}
.index-news .new-content {
  font-size: 16px;
  line-height: 30px;
}
.index-news .news {
  margin: 50px 0;
}
.index-news .news .new {
  margin-bottom: 50px;
}
.index-news .news .new:last-child {
  margin-bottom: 0px;
}
.index-news .news .new-image {
  float: right;
}
.index-news .news .new-image-tablet {
  display: none;
}
@media screen and (max-width: 991px) {
  .index-news .news {
    margin: 40px 0;
  }
  .index-news .news .new {
    margin-bottom: 40px;
  }
  .index-news .news .new:last-child {
    margin-bottom: 0px;
  }
  .index-news .news .new-image {
    display: none;
  }
  .index-news .news .new-image-tablet {
    display: block;
    width: 100%;
  }
}
.index-news .news-button {
  margin: 50px 0;
}
.index-news .news-button .button-subcribe {
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 25px 50px;
  display: block;
  margin: auto;
}
@media screen and (max-width: 991px) {
  .index-news .news-button {
    margin: 40px 0;
  }
  .index-news .news-button .button-subcribe {
    font-size: 16tpx;
    padding: 15px 50px;
  }
}

.index-list {
  color: #302d29;
  font-size: 20px;
}
.index-list .list-header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}
.index-list .list-item {
  border-bottom: 1px solid #282828;
  padding: 25px 0;
}
.index-list .list-item:first-child {
  padding-top: 0;
}
.index-list .list-button {
  margin: 25px 0 50px 0;
  position: relative;
  height: 50px;
}
.index-list .list-button .button-subcribe-list {
  border-radius: 10px;
  color: #ffffff;
  display: block;
  font-size: 15px;
  padding: 5px 50px;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 991px) {
  .index-list .list-button {
    margin: 40px 0;
  }
  .index-list .list-button .button-subcribe-list {
    position: static;
    margin: auto;
  }
}

.index-location {
  display: block;
}
.index-location .location-list-header {
  font-size: 35px;
  margin-bottom: 50px;
}
.index-location .location-places {
  overflow: auto;
  padding: 5px 15px;
}
.index-location .button-more {
  background-color: #302d29;
  border-radius: 0 0 10px 10px;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 50px;
  height: 50px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .index-location {
    display: none;
  }
}

.index-banner-bottom {
  padding-bottom: 100px;
}
@media screen and (max-width: 991px) {
  .index-banner-bottom {
    padding-bottom: 80px;
  }
  .index-banner-bottom .col-md-4:not(:first-child) {
    margin-top: 25px;
  }
}
