.button {
  text-align: center;
  border-radius: 5px;
  border: 1px solid red;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px #444444;
}
.button:hover {
  opacity: 0.9;
}
.button:active {
  box-shadow: 0 0;
}
.button-red {
  background-color: #ff2323;
}

.image {
  width: 100%;
}
.image-border-radius {
  border-radius: 5px;
}

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

footer {
  background-color: black;
  font-size: 15px;
  line-height: 15px;
  color: white;
  padding: 50px 0;
}
footer .footer-table {
  border-bottom: 1px solid white;
  margin: 15px 0;
  padding: 10px 0;
}
footer .footer-table .row {
  margin: 8px 0;
}
footer .footer-table .row * {
  padding: 0;
}

header .navbar {
  margin: 0;
}
header .cotainer {
  border-bottom: 1px solid black;
}
header .navbar-header {
  position: relative;
}
header .navbar-header button {
  position: absolute;
  top: 25%;
  right: 5%;
}
header .brand-responsive {
  margin: 20px 0px;
}

.index-business {
  padding: 50px 0;
}
@media screen and (max-width: 991px) {
  .index-business {
    padding: 40px 0;
  }
  .index-business .col-md-4:not(:first-child) {
    margin-top: 25px;
  }
}

.index-news {
  font-size: 25px;
  line-height: 25px;
}
.index-news img {
  width: 100%;
}
.index-news .news-header {
  font-size: 30px;
}
.index-news .row {
  margin-top: 50px;
}
@media screen and (max-width: 991px) {
  .index-news .row {
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
  }
  .index-news .row .news-date {
    display: inline;
    font-size: 15px;
  }
  .index-news .row .news-status {
    font-size: 15px;
  }
  .index-news .row .order-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .index-news .row .order-2 {
    -ms-flex-order: 2;
        order: 2;
    margin: 15px 0;
  }
  .index-news .row .order-3 {
    -ms-flex-order: 3;
        order: 3;
    margin-bottom: 40px;
  }
}
.index-news .news-status {
  font-size: 15px;
  padding: 2px 0px;
  color: red;
  border: 1px solid red;
  text-align: center;
  margin: 10px 0;
  display: inline;
}
.index-news .news-button {
  margin: 50px 0;
}
.index-news .news-button .button-subcribe {
  background-color: red;
  color: white;
  padding: 15px 50px;
  display: block;
  margin: auto;
}
@media screen and (max-width: 991px) {
  .index-news .news-button {
    margin: 40px 0;
  }
  .index-news .news-button button-subcribe {
    font-size: 15px;
  }
}

.index-list {
  font-size: 25px;
  color: #383737;
}
.index-list .list-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}
.index-list .list-row {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #383737;
}
